body{
    background-image: none;
}

main{
    display: initial;
    flex-wrap: initial;
    
    margin-top: 0px;
    
    width: 70vw;
    justify-content: center;
}

.containerHome{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.navHome{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20vw;

    min-width: 320px;
}

.btn-nav{
    background-image: url(../Assets/Icon/menu-variant.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

    width: 20px;
    height: 20px;
}

.btn-nav:focus{
    border: none;
}

.logo-home{
    width: 84px;
    height: 25px;
}

.Avatar{
    width: 40px;
    height: 40px;

    border-radius: 15px;
}

#txtSearch{
    background-image: url(../Assets/Icon/searchInput.svg);
    background-repeat: no-repeat;
    background-position: 7px;
    background-size: 1.5em;

    padding: 15px;
    padding-left: 30px;

    margin-top: 25px;

    border: .5px solid #BABABA;
    border-radius: 10px;

    width: 30vw;

    transition: all .3s;
}

#txtSearch:focus{
    width: 35vw;
}