body{
    background-image: none;
}

main{
    display: initial;
    flex-wrap: initial;
    
    margin-top: 0px;
    
    width: 70vw;
    justify-content: center;
}

.containerHome{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.navHome{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20vw;

    min-width: 320px;
}

.btn-nav{
    background-image: url(../Assets/Icon/menu-variant.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

    width: 20px;
    height: 20px;
}

.btn-nav:focus{
    border: none;
}

.logo-home{
    width: 84px;
    height: 25px;
}

.Avatar{
    width: 40px;
    height: 40px;

    border-radius: 20px;  
}

#txtSearch{
    background-image: url(../Assets/Icon/searchInput.svg);
    background-repeat: no-repeat;
    background-position: 7px;
    background-size: 1.5em;

    padding: 15px;
    padding-left: 30px;

    margin-top: 25px;

    border: .5px solid #BABABA;
    border-radius: 10px;

    width: 30vw;

    transition: all .3s;
}

#txtSearch:focus{
    width: 35vw;
}

/*Modificando a parte cinza e listagem com rolagem*/

.market{
    height: 100vh;
    width: 70vw;
    background-color: #F6F6F6;

    border-radius: 15px;

    padding: 32px;
    margin-top: 25px;
    text-align: center;
}

.roll{
    display: flex;
    overflow: scroll;

}

.roll ul{
    display: flex;
    gap: 3em;
    
    padding: 15px;
}

.roll ul li a{
    padding: 10px 15px;
    border-radius: 15px;
    
    cursor: pointer;
    
    color: #7F7F7F;

    transition: all .3s;
}

.roll ul li a:hover{
    transform: scale(1.1);
}

.roll ul li a:focus{
    background-color: #0ACF83;
    color: white;
}

.LinkHomePage:hover{
    text-decoration: none;
}

.roll::-webkit-scrollbar{
    height: 5px;
}

.roll::-webkit-scrollbar-thumb{
    background-color: #7F7F7F;
    border-radius: 15px;
    
}

.roll::-webkit-scrollbar-corner{
    display: none;
}

/*Modificando a segunda parte da rolagem*/

.containerMarket{
    display: flex;
    margin-right: 3em;
    overflow-wrap: break-word;

    margin-top: 20px;
    padding: 20px;

    width: 326px;

    border-radius: 15px;

    background-color: white;
    text-align: left;
}

.imgMarket img{
    height: 135px;
    width: 117px;
}

.LinkMarketPage{
    color: #0ACF83;
}

.LinkMarketPage img{
    vertical-align: top;
}

.textMarket h1{
    font-size: 30px;
    font-weight: bold;

    margin-bottom: 28px;
}

/*Modificando a terceira parte da rolagem*/

.containerFeatureProd{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.containerFeatureProd h2{
    font-weight: 500;
}

.SeeAll{
    background: none;
    margin: initial;
    padding: initial;

    color: #7F7F7F;

    width: fit-content;
    height: fit-content;
}

.SeeAll:focus{
    border: none;
    transform: initial;
}

.containerMarket2{
    display: initial;

    height: fit-content;
    width: 130px;

    padding: 15 10;
}

.imgMarket2{
    height: 125px;
    width: 125px;
}

.textMarket2 h1{
    font-size: 14px;
    font-weight: 200;
    
    margin-top: 20px;
    margin-bottom: 4px;
}

.price{
    font-weight: 700;
}


