*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}


body{
    height: 100vh;
    width: 100vw;

    background: url(../Assets/Backgrounds/Background-ImageMobile.png) no-repeat center/ cover;
}

main{
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    margin-top: 164px;

    width: 280px;
    justify-content: center;
}

a{
    color: white;
    font-weight: bold;

}

a:hover{
    text-decoration: underline;
}

button{
    padding-top: 20px;
    padding-bottom: 20px;

    margin-top: 32px;
    margin-bottom: 24px;

    width: 300px;

    align-items: center;
    
    background-color: #0ACF83;
    color: white;
    
    border-radius: 10px;
    border: none;
    outline: none;
    
    font-weight: bold;

    cursor: pointer;

    transition: all .3s;
}

button:hover{
    transform: scale(1.1);
}

button:focus{
    transform: scaleX(1.1);
    border: 3px solid #116444;
}

.BtnSign{
    margin-top: initial;
}

.container{
    color: white;
    font-size: 52px;
    font-weight: 700;
    text-align: center;

    margin-top: 106px;
}

.container p {
    font-size: 12px;
}

.TxtSign{
    color: white;
    font-size: 12px;
}

.signUp{
    color: #0ACF83;
    text-decoration: underline;
}

.btnLogins{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15px;

    height: 50px;

    margin-bottom: 24px;
}

.apple, .facebook, .google{
    width: 40px;

    background-color: white;  
}

.apple:focus, .facebook:focus, .google:focus{
    border: 2px solid rgb(97, 91, 80);

    transform: scale(0.9);
}

.apple{
    background-image: url(../Assets/Icon/apple-seeklogo.com.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
}

.facebook{
    background-image: url(../Assets/Icon/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
}

.google{
    background-image: url(../Assets/Icon/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
}

#email, #pass{
    background-image: url(../Assets/Icon/mail.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 1.3em;

    padding: 10px;
    padding-left: 2em;

    margin-bottom: 30px;

    border: none;
    outline: none;

    width: 250px;

    border-radius: 10px;

    transition: all .3s;
}

#pass{
    background-image: url(../Assets/Icon/lock.svg);
}

#email:focus, #pass:focus{
    transform: scale(1.1);
}